<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <p>MediaSpy</p>
        <a href="/logout">Logout</a>
        <a href="/reviews">My Reviews</a>
        <a href="/add-review">Add Review</a>

    </nav>
    <h1>Welcome, <%= username %>!</h1>

    <h2>Movie Reviews</h2>
    <% if (movieReviews.length > 0) { %>
        <ul>
            <% movieReviews.forEach(review => { %>
                <li>
                    <strong>Name:</strong> <%= review.name %><br />
                    <strong>Rating:</strong> <%= review.rating %>/5<br />
                    <strong>Company:</strong> <%= review.company_name %><br />
                    <strong>Theme:</strong> <%= review.theme %><br />
                    <strong>Content:</strong> <%= review.content %>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No movie reviews available.</p>
    <% } %>

    <h2>Video Game Reviews</h2>
    <% if (videoGameReviews.length > 0) { %>
        <ul>
            <% videoGameReviews.forEach(review => { %>
                <li>
                    <strong>Name:</strong> <%= review.name %><br />
                    <strong>Rating:</strong> <%= review.rating %>/5<br />
                    <strong>Company:</strong> <%= review.company_name %><br />
                    <strong>Theme:</strong> <%= review.theme %><br />
                    <strong>Content:</strong> <%= review.content %>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No video game reviews available.</p>
    <% } %>

</body>
</html>






    

    