<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head', {title:'Dashboard'}) %>
</head>
<body>
    <header>
        <%- include('includes/header')%>
    </header>
    </nav>
    <main>
        <h2>Movie Reviews</h2>
        <% if (movieReviews.length > 0) { %>
            <div class="reviews-container">
                <% movieReviews.forEach(review => { %>
                    <div class="review-card">
                        <div class="review-image">
                            <% if (review.image_path) { %>
                                <img src="<%= review.image_path %>" alt="Image for <%= review.name %>" />
                            <% } %>
                        </div>
                        <div class="review-content">
                            <h3 class="review-title"><%= review.name %></h3>
                            <p class="review-category"><%= review.theme %> | <%= review.company_name %></p>
                            <p class="review-rating"><%= review.rating %> / 5</p>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <p>No movie reviews available.</p>
        <% } %>
    
        <h2>Video Game Reviews</h2>
        <% if (videoGameReviews.length > 0) { %>
            <div class="reviews-container">
                <% videoGameReviews.forEach(review => { %>
                    <div class="review-card">
                        <div class="review-image">
                            <% if (review.image_path) { %>
                                <img src="<%= review.image_path %>" alt="Image for <%= review.name %>" />
                            <% } %>
                        </div>
                        <div class="review-content">
                            <h3 class="review-title"><%= review.name %></h3>
                            <p class="review-category"><%= review.theme %> | <%= review.company_name %></p>
                            <p class="review-rating"><%= review.rating %> / 5</p>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <p>No video game reviews available.</p>
        <% } %>
    </main>
    
</body>
</html>