<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head', {title:'Dashboard'}) %>
</head>

<body>
    <%- include('includes/header')%>
        <main>
            <div class="titleFilter">
                <h2>Movie Reviews</h2>
                <div class="filterButtons">
                    <form class="mainFilter" action="/filter" method="GET">
                        <select class="filter" name="filter" required>
                            <option value="highest">Highest Rated</option>
                            <option value="lowest">Lowest Rated</option>
                        </select>
                    </form>
                    <form class="mainFilter" action="/filter" method="GET">
                        <select class="filter" name="age" required>
                            <option value="General">General (G)</option>
                            <option value="Parental Guidance">Parental Guidance (PG)</option>
                            <option value="Mature">Mature (M)</option>
                            <option value="Restricted R">Restricted (R 18+)</option>
                            <option value="Restricted X">Restricted (X 18+)</option>
                        </select>
                    </form>
                </div>
            </div>
            <hr>
            <% if (movieReviews.length> 0) { %>
                <div class="reviews-container">
                    <% movieReviews.forEach(review=> { %>
                        <% if (review.reviewItem) { %>
                            <a class="review-card" href="/view-content/<%= review.id %>">
                                <div class="review-image">
                                    <% if (review.image_path) { %>
                                        <img src="<%= review.image_path %>" alt="Image for <%= review.name %>" />
                                        <% } %>
                                </div>
                                <div class="review-content">
                                    <h3 class="review-title">
                                        <%= review.name %>
                                    </h3>
                                    <p class="review-category">
                                        <%= review.theme %> | <%= review.company_name %>
                                    </p>
                                    <p
                                        class="revRating <%= review.averageRating > 4 ? 'high-rating' : review.averageRating >= 3 ? 'medium-rating' : 'low-rating' %>">
                                        Viewers Rated <strong>
                                            <%= review.averageRating %>/5
                                        </strong>
                                    </p>
                                </div>
                            </a>
                            <% } %>
                                <% }); %>
                </div>
                <% } else { %>
                    <p>No movie reviews available.</p>
                    <% } %>
                        <div class="titleFilter">
                            <h2>Video Game Reviews</h2>
                            <div class="filterButtons">
                                <form class="mainFilter" action="/filter" method="GET">
                                    <select class="filter" name="filter" required>
                                        <option value="highest">Highest Rated</option>
                                        <option value="lowest">Lowest Rated</option>
                                    </select>
                                </form>
                                <form class="mainFilter" action="/filter" method="GET">
                                    <select class="filter" name="age" required>
                                        <option value="General">General (G)</option>
                                        <option value="Parental Guidance">Parental Guidance (PG)</option>
                                        <option value="Mature">Mature (M)</option>
                                        <option value="Restricted R">Restricted (R 18+)</option>
                                        <option value="Restricted X">Restricted (X 18+)</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <% if (videoGameReviews.length> 0) { %>
                            <div class="reviews-container">
                                <% videoGameReviews.forEach(review=> { %>
                                    <% if (review.reviewItem) { %>
                                        <a class="review-card" href="/view-content/<%= review.id %>">
                                            <div class="review-image">
                                                <% if (review.image_path) { %>
                                                    <img src="<%= review.image_path %>"
                                                        alt="Image for <%= review.name %>" />
                                                    <% } %>
                                            </div>
                                            <div class="review-content">
                                                <h3 class="review-title">
                                                    <%= review.name %>
                                                </h3>
                                                <p class="review-category">
                                                    <%= review.theme %> | <%= review.company_name %>
                                                </p>
                                                <p
                                                    class="revRating <%= review.averageRating > 4 ? 'high-rating' : review.averageRating >= 3 ? 'medium-rating' : 'low-rating' %>">
                                                    Players Rated <strong>
                                                        <%= review.averageRating %>/5
                                                    </strong>
                                                </p>
                                            </div>
                                        </a>
                                        <% } %>
                                            <% }); %>
                            </div>
                            <% } else { %>
                                <p>No video game reviews available.</p>
                                <% } %>

        </main>

</body>

</html>