<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head', {title:'Dashboard'}) %>
</head>

<body>
    <%- include('includes/header')%>
    <main>
        <div class="titleFilter">
            <h2>Movie Reviews</h2>
            <div>
                <form class="mainFilter" action="/filter" method="GET">
                    <select class="filter" name="filter" required>
                        <option value="movie">Highest Rated</option>
                        <option value="movie">Lowest Rated</option>
                    </select>
                </form>
                <form class="mainFilter" action="/filter" method="GET">
                    <select class="filter" name="filter" required>
                        <option value="movie">General (G)</option>
                        <option value="movie">Parental Guidance (PG)</option>
                        <option value="movie">Mature (M)</option>
                        <option value="movie">Mature Accompanied (MA 15+)</option>
                        <option value="movie">Restricted (R 18+)</option>
                        <option value="movie">Restricted (X 18+)</option>
                    </select>
                </form>
                <form class="mainFilter" action="/filter" method="GET">
                    <select class="filter" name="filter" required>
                        <option value="movie">Action</option>
                        <option value="movie">Adventure</option>
                        <option value="movie">Comedy</option>
                        <option value="movie">Drama</option>
                        <option value="movie">Fantasy</option>
                        <option value="movie">Horror</option>
                        <option value="movie">Musicals</option>
                        <option value="movie">Mystery</option>
                        <option value="movie">Romance</option>
                        <option value="movie">Sci-Fi</option>
                        <option value="movie">Sports</option>
                        <option value="movie">Thriller</option>
                    </select>
                </form>
            </div>
        </div>
        <hr>
        <% if (movieReviews.length> 0) { %>
                <div class="reviews-container">
                    <% movieReviews.forEach(review=> { %>
                            <a class="review-card" href="/view-content/<%= review.id %>">
                                <div class="review-image">
                                    <% if (review.image_path) { %>
                                        <img src="<%= review.image_path %>" alt="Image for <%= review.name %>" />
                                     <% } %>
                                </div>
                                <div class="review-content">
                                    <h3 class="review-title">
                                        <%= review.name %>
                                    </h3>
                                    <p class="review-category">
                                        <%= review.theme %> | <%= review.company_name %>
                                    </p>
                                    <p
                                        class="revRating <%= review.rating > 4 ? 'high-rating' : review.rating >= 3 ? 'medium-rating' : 'low-rating' %>">
                                        Viewers Rated <strong>
                                            <%= review.rating %>/5
                                        </strong>
                                    </p>
                                </div>
                            </a>
                        <% }); %>
                </div>
            <% } else { %>
                <p>No movie reviews available.</p>
                <% } %>

                    <h2>Video Game Reviews</h2>
                    <hr>
                    <% if (videoGameReviews.length> 0) { %>
                        <div class="reviews-container">
                            <% videoGameReviews.forEach(review=> { %>
                                <a class="review-card" href="/view-content/<%= review.id %>">
                                    <div class="review-image">
                                        <% if (review.image_path) { %>
                                            <img src="<%= review.image_path %>" alt="Image for <%= review.name %>" />
                                            <% } %>
                                    </div>
                                    <div class="review-content">
                                        <h3 class="review-title">
                                            <%= review.name %>
                                        </h3>
                                        <p class="review-category">
                                            <%= review.theme %> | <%= review.company_name %>
                                        </p>
                                        <p
                                            class="revRating <%= review.rating > 4 ? 'high-rating' : review.rating >= 3 ? 'medium-rating' : 'low-rating' %>">
                                            Players Rated <strong>
                                                <%= review.rating %>/5
                                            </strong>
                                        </p>
                                    </div>
                                </a>
                                <% }); %>
                        </div>
                        <% } else { %>
                            <p>No video game reviews available.</p>
                            <% } %>
    </main>

</body>

</html>