<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head', {title:'Reviews'}) %>
</head>
<body>
    <h1>My Reviews</h1>
    <a href="/dashboard">Back to Dashboard</a>

    <ul>
        <% reviews.forEach(review => { %>
            <li>
                <strong><%= review.name %></strong> (<%= review.type %>)
                <p>Rating: <%= review.rating %>/5</p>
                <p><%= review.company_name %> | <%= review.theme %></p>
                <p><%= review.content %></p>

                <!-- Delete Review -->
                <form action="/reviews/delete/<%= review.id %>" method="POST" style="display: inline;">
                    <button type="submit">Delete</button>
                </form>

                <!-- Update Review -->
                <a href="/reviews/update/<%= review.id %>">Update</a>
            </li>
        <% }); %>
    </ul>


</body>
</html>