<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head', {title:'Reviews'}) %>
</head>
<body>
    <%- include('includes/header')%>
    <main class="container">
        <h1>My Reviews</h1>
        <ul>
            <% if (reviews.length > 0) { %>
            <% reviews.forEach(review => { %>
                <li>
                    <div class="personal-review">
                        <h2 id="reviewName">
                            <%= review.name %>
                        </h2>
                        <div class="my-review-details">
                            <p id="name_theme"><%= review.company_name %> | <%= review.theme %></p>
                            <p class="revRating <%= review.rating > 4 ? 'high-rating' : review.rating >= 3 ? 'medium-rating' : 'low-rating' %>"><%=review.rating%>/5</p>
                        </div>
                        <p id="my-review-content"><%= review.content %></p>
                        <div class="my-review-buttons">
                            <form action="/reviews/update/<%= review.id %>" method="GET">
                                <button type="submit">Update</button>
                            </form>
                            <form action="/reviews/delete/<%= review.id %>" method="POST">
                                <button id="delete" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </li>
            <% }); %>
            <% } else { %>
                <div id="my-review-div">
                    <p>It looks like you have no reviews. <a href="/add-review">Create one now!</a></p>
                    <p style="font-size: 16px;"><strong>Note:</strong> Reviews for newly created Movies or Video Games aren't displayed</p>
                </div>
            <% } %>
        </ul>
    </main>
</body>
</html>