<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head', {title:'Reviews'}) %>
</head>
<body>
    <header>
        <%- include('includes/header')%>
    </header>
    <main class="container">
        <h1>My Reviews</h1>
        <ul>
            <% reviews.forEach(review => { %>
                <li>
                    <div class="personal-review">
                        <%= review.name %> | <%= review.type %>
                        <div class="my-review-details">
                            <p>Rating: <%= review.rating %>/5</p>
                            <p><%= review.company_name %> | <%= review.theme %></p>
                        </div>
                        <p><%= review.content %></p>
                        <div class="my-review-buttons">
                            <a href="/reviews/update/<%= review.id %>">Update Review</a>
                            <form action="/reviews/delete/<%= review.id %>" method="POST">
                                <button id="delete" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </li>
            <% }); %>
        </ul>
    </main>
</body>
</html>