<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head', { title: 'Update Review' }) %>
</head>

<body>
    <%- include('includes/header') %>
        <main class="container">
            <h1>Update Review</h1>
            <form action="/reviews/update/<%= review.id %>" method="POST">

                <input minlength="4" maxlength="45" type="text" id="nameAdd" name="name" value="<%= review.name %>"
                    placeholder="Name of Movie or Video Game" readonly required />

                <div class="selectContent">
                    <select name="type" disabled required>
                        <option value="movie" <%=review.type==='movie' ? 'selected' : '' %>>Movie</option>
                        <option value="video_game" <%=review.type==='video_game' ? 'selected' : '' %>>Video Game
                        </option>
                    </select>
                    <input type="hidden" name="type" value="<%= review.type %>">

                    <select name="age" disabled required>
                        <option value="General" <%=review.age==='General' ? 'selected' : '' %>>General (G)</option>
                        <option value="Parental Guidance" <%=review.age==='Parental Guidance' ? 'selected' : '' %>
                            >Parental Guidance (PG)</option>
                        <option value="Mature" <%=review.age==='Mature' ? 'selected' : '' %>>Mature (M)</option>
                        <option value="Restricted R" <%=review.age==='Restricted R' ? 'selected' : '' %>>Restricted (R
                            18+)</option>
                        <option value="Restricted X" <%=review.age==='Restricted X' ? 'selected' : '' %>>Restricted (X
                            18+)</option>
                    </select>
                    <input type="hidden" name="age" value="<%= review.age %>">

                    <select name="rating" style="background-color: #f4eaff;" required>
                        <option value="1" <%=review.rating==1 ? 'selected' : '' %>>1 / 5</option>
                        <option value="2" <%=review.rating==2 ? 'selected' : '' %>>2 / 5</option>
                        <option value="3" <%=review.rating==3 ? 'selected' : '' %>>3 / 5</option>
                        <option value="4" <%=review.rating==4 ? 'selected' : '' %>>4 / 5</option>
                        <option value="5" <%=review.rating==5 ? 'selected' : '' %>>5 / 5</option>
                    </select>
                </div>

                <textarea minlength="4" maxlength="300" name="content" placeholder="Write your review here"
                    style="background-color: #f4eaff;" required><%= review.content %></textarea>

                <input minlength="4" maxlength="20" type="text" name="company_name" value="<%= review.company_name %>"
                    readonly required placeholder="Company name" />

                <input minlength="4" maxlength="20" type="text" name="theme" value="<%= review.theme %>" readonly
                    required placeholder="Genre" />
                <button type="submit">Update Review</button>
            </form>
        </main>
</body>

</html>