<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title:'View Content'}) %>

    <body>
        <%- include('includes/header') %>
            <main class="view-content-container">
                <section class="view-content-info">
                    <div>
                        <img class="view-content-image" src="<%= review.image_path %>"
                            alt="Image for <%= review.name %>">
                    </div>
                    <div class="view-content-detail">
                        <div>
                            <h2>
                                <%= review.name %>
                            </h2>
                            <div id="ratingReview">
                                <p
                                    class="view-content-rating <%= review.rating > 4 ? 'high-rating' : review.rating >= 3 ? 'medium-rating' : 'low-rating' %>">
                                    Average Rating: <strong>
                                        <%=review.rating%>/5
                                    </strong>
                                </p>
                                <div>
                                    <a href="/add-review">Add Review</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="contentDetail">
                            <h3>Theme:</h3>
                            <%= review.theme %>
                        </div>
                        <div class="contentDetail">
                            <h3>Company:</h3>
                            <%= review.company_name %>
                        </div>
                        <div class="contentDetail">
                            <h3>Age Rating:</h3>
                            <%= review.age %>
                        </div>
                    </div>

                </section>
                <div id="view-content-filter">
                    <form class="mainFilter" action="/filter" method="GET">
                        <select class="filter" name="filter" required>
                            <option value="positive">Positive Ratings</option>
                            <option value="negative">Negative Ratings</option>
                        </select>
                    </form>
                    <form class="mainFilter" action="/filter" method="GET">
                        <select class="filter" name="filter" required>
                            <option value="new">Latest Reviews</option>
                            <option value="old">Oldest Reviews</option>
                        </select>
                    </form>
                </div>
                <section>
                    <ul>
                        <% reviews.forEach(function(reviews) { %>
                            <li>
                                <div class="view-content-review">
                                    <div class="view-content-review-info">
                                        <div class="user-review-info">
                                            <p class="view-content-review-username">
                                                <%= review.username %>
                                            </p>
                                            <p class="view-content-review-date">
                                                <%= new Date(review.created_at).toLocaleDateString('en-US', {
                                                    year: 'numeric' , month: 'long' , day: 'numeric' , hour: '2-digit' ,
                                                    minute: '2-digit' }) %>
                                            </p>
                                        </div>
                                        <div>
                                            <p
                                                class="revRating <%= review.rating > 4 ? 'high-rating' : review.rating >= 3 ? 'medium-rating' : 'low-rating' %>">
                                                <strong>
                                                    <%=review.rating%>/5
                                                </strong>
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="view-content-content">
                                        <p>
                                            <%= review.content %>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <% }); %>
                    </ul>
                </section>
            </main>
    </body>

</html>