<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title:'View Content'}) %>

    <body>
        <%- include('includes/header') %>
            <main class="view-content-container">
                <section class="view-content-info">
                    <div id="sizing">
                        <img class="view-content-image" src="<%= review.image_path %>"
                            alt="Image for <%= review.name %>">
                    </div>
                    <div class="view-content-detail">
                        <h2>
                            <%= review.name %>
                        </h2>
                        <div>
                            <h3>Theme</h3>
                            <p>
                                <%= review.theme %>
                            </p>
                        </div>
                        <div>
                            <h3>Company</h3>
                            <p>
                                <%= review.company_name %>
                            </p>
                        </div>
                        <div>
                            <h3>Age Rating</h3>
                            <p>
                                <%= review.age %>
                            </p>
                        </div>
                    </div>

                </section>
                <section class="view-content-actions">
                    <div>
                        <p
                            class="view-content-rating <%= review.rating > 4 ? 'high-rating' : review.rating >= 3 ? 'medium-rating' : 'low-rating' %>">
                            <%=review.rating%>/5
                        </p>
                    </div>
                    <div>
                        <form class="mainFilter" action="/filter" method="GET">
                            <select class="filter" name="filter" required>
                                <option value="positive">Positive Ratings</option>
                                <option value="negative">Negative Ratings</option>
                            </select>
                    </div>
                    <div>
                        <a href="/add-review">Add Review</a>
                    </div>
                </section>
                <section>
                    <ul>
                        <% reviews.forEach(function(reviews) { %>
                            <li>
                                <div class="personal-review">
                                    <h2 id="reviewName">
                                        <%= review.name %>
                                    </h2>
                                    <div class="my-review-details">
                                        <p id="name_theme">
                                            <%= review.company_name %> | <%= review.theme %>
                                        </p>
                                        <p
                                            class="revRating <%= review.rating > 4 ? 'high-rating' : review.rating >= 3 ? 'medium-rating' : 'low-rating' %>">
                                            <%=review.rating%>/5
                                        </p>
                                    </div>
                                    <p id="my-review-content">
                                        <%= review.content %>
                                    </p>
                                    <div class="my-review-buttons">
                                        <form action="/reviews/update/<%= review.id %>" method="GET"> <button
                                                type="submit">Update</button> </form>
                                        <form action="/reviews/delete/<%= review.id %>" method="POST"> <button
                                                id="delete" type="submit">Delete</button> </form>
                                    </div>
                                </div>
                            </li>
                            <% }); %>
                    </ul>
                </section>
            </main>
    </body>

</html>